[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/vim-gemfile"]
	path = vim/bundle/vim-gemfile
	url = https://github.com/muz/vim-gemfile
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/bundle/vim-jellybeans"]
	path = vim/bundle/vim-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-signify"]
	path = vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/bundle/vim-java-imports"]
	path = vim/bundle/vim-java-imports
	url = git@github.com:oesmith/vim-java-imports.git
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/bundle/fzf-mru.vim"]
	path = vim/bundle/fzf-mru.vim
	url = https://github.com/pbogut/fzf-mru.vim
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim/bundle/async.vim"]
	path = vim/bundle/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim/bundle/vim-lsp"]
	path = vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/bundle/taskpaper.vim"]
	path = vim/bundle/taskpaper.vim
	url = https://github.com/davidoc/taskpaper.vim
[submodule "vim/bundle/yats.vim"]
	path = vim/bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule "vim/bundle/kotlin-vim"]
	path = vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "vim/bundle/asyncomplete.vim"]
	path = vim/bundle/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "vim/bundle/asyncomplete-lsp.vim"]
	path = vim/bundle/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
